<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restauranturanturant catalogue for you">
  <meta name="theme-color" content="#DB0000"/>

 
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Ismaranif Kitchen</title>
</head>
<body>
  <a href="#mainContent" class="skip-link" tab-index="0">Skip to content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1><a href="#/home">Ismaranif Kitchen</a></h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/fadhilah-ismarani-a4a440267/" target="_blank">About Us</a></li>
    </ul>
    </nav>
  </header>

  <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('heros/hero-image_2.jpg');">
    <div class="heroinner">
        <h1 class="hero-title">Ismaranif Kitchen </h1>
        <p class="hero-desc">This website provides a list of all the best restaurants in Indonesia.</p>
    </div>
  </div>
  <main id="mainContent"></main>
  <footer>
    <p>Copyright © 2023 - Ismaranif Kitchen by <a href="https://www.instagram.com/fadhilahgi_/" target="_blank" rel="noreferrer">Fadhilah Ismarani</a></p>
  </footer>

</body>
</html>